.layer {
    stroke: black;
    stroke-width: 1px;
}

.limestone {
    fill: lightsteelblue;
}
.limestone:hover {
    fill: powderblue;
}

.shale {
    fill: darkred;
}
.shale:hover {
    fill: red;
}